html {
  font-size: 14px;
}

.slider:disabled:hover {
  cursor: not-allowed !important;
}

html, body {
  width: 100%;
  height: 100%;
  background: #f1f4f6;
}

h1, h2, h3, h4 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Lato", sans-serif;
}

.panel img {
  width: 492px;
  height: 370px;
}

.slider:disabled:hover {
  cursor: not-allowed !important;
}

a {
  color: rgb(0, 174, 255) !important;
  font-weight: bold;
}

.ucontrol>div, .lcontrol>div {
  padding: 0.5rem;
}

.ucontrol .observation-mock {
  width: 100%;
  height: 15rem;
  background: #134e5e;
  background: -webkit-linear-gradient(to right, #71b280, #134e5e);
  background: linear-gradient(to right, #71b280, #134e5e);
  border: 0.1rem solid #555;
}

.panel {
  background: #fff;
  width: 100%;
  /* height: 100%; */
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  padding: 0.5rem;
}

.panel .panel-head {
  background: #1089ff;
  color: #fff;
  margin: -0.5rem;
  padding: 0.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.panel.padd {
  padding: 0.5rem 2rem;
}

/* #typer {
  overflow: scroll;
} */

#part-1 {
  display: none;
}

#part-2 {
  display: none;
}

#part-3 {
  display: none;
}

.but {
  background: none;
  /* color: #fff; */
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.1rem;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0.2rem rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
  border-radius: 5px;
  border: 1px solid #1089ff;
}

.but.sm {
  padding: 0.5rem 1rem;
}

.but:hover {
  background: #fff;
  color: #000;
  box-shadow: 0 0 0 0.1rem #fff;
}

.but:focus {
  outline: none !important;
}

.but.blue:hover {
  background: #1089ff;
  color: #fff;
  box-shadow: 0 0 0 0.1rem #1089ff;
}

.but.green:hover {
  background: #11c96d;
  color: #fff;
  box-shadow: 0 0 0 0.1rem #10ff89;
}

.but:disabled {
  opacity: 0.4;
}

.but:disabled:hover {
  cursor: not-allowed;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 115px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 115px;
  background: #1089ff;
  cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
  /* border-radius:5px; */
  border-style: dotted;
  border-color: black;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #1089ff;
  cursor: pointer;
}

.line {
  text-align: center;
  font-size: 10px;
  margin: auto;
  padding: .5rem;
}

#plane {
  width: 40px;
  border-top: 4px solid red;
  display: inline-block;
}

#dotted {
  border-top: 4px dotted red;
}

#dashed {
  border-top: 4px dashed black;
}

#output {
  margin-bottom: 10px;
  margin-top: 10px;
}

@-webkit-keyframes glow-red {
  0% {
    -webkit-box-shadow: 0 0 50px 50px rgba(255, 50, 50, 0.9);
  }
  50% {
    -webkit-box-shadow: 0 0 50px 0px rgba(255, 50, 50, 0.2);
  }
  100% {
    -webkit-box-shadow: 0 0 50px 50px rgba(255, 50, 50, 0.9);
  }
}

@keyframes glow-red {
  0% {
    box-shadow: 0 0 50px rgba(255, 50, 50, 0.9);
  }
  50% {
    box-shadow: 0 0 50px rgba(255, 50, 50, 0.2);
  }
  100% {
    box-shadow: 0 0 50px rgba(255, 50, 50, 0.9);
  }
}

@-webkit-keyframes glow-green {
  0% {
    -webkit-box-shadow: 0 0 50px 50px rgba(50, 230, 50, 0.9);
  }
  50% {
    -webkit-box-shadow: 0 0 50px 0px rgba(50, 230, 50, 0.2);
  }
  100% {
    -webkit-box-shadow: 0 0 50px 50px rgba(50, 230, 50, 0.9);
  }
}

@keyframes glow-green {
  0% {
    box-shadow: 0 0 50px rgba(50, 230, 50, 0.9);
  }
  50% {
    box-shadow: 0 0 50px rgba(50, 230, 50, 0.2);
  }
  100% {
    box-shadow: 0 0 50px rgba(50, 230, 50, 0.9);
  }
}

@-webkit-keyframes glow-blue {
  0% {
    -webkit-box-shadow: 0 0 50px 50px rgba(50, 50, 255, 0.9);
  }
  50% {
    -webkit-box-shadow: 0 0 50px 0px rgba(50, 50, 255, 0.2);
  }
  100% {
    -webkit-box-shadow: 0 0 50px 50px rgba(50, 50, 255, 0.9);
  }
}

@keyframes glow-blue {
  0% {
    box-shadow: 0 0 50px rgba(50, 50, 255, 0.9);
  }
  50% {
    box-shadow: 0 0 50px rgba(50, 50, 255, 0.2);
  }
  100% {
    box-shadow: 0 0 50px rgba(50, 50, 255, 0.9);
  }
}

.line-btn button.active {
  background: lightgreen;
}

.active1 {
  background: lightgreen;
}